@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap"); /*RESET*/
*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-size: 100%;
  line-height: 1.3;
  cursor: default;
}

/*
  ========================================
  Typography
  ========================================
*/
b, strong {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

/*
  ========================================
  Img
  ========================================
*/
img,
picture,
video,
embed,
object {
  max-width: 100%;
}

img {
  display: inline-block;
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

/**/
body {
  background: #F2F2F2;
  font-family: "Montserrat", sans-serif;
  color: #FD9872;
  font-weight: 500;
  letter-spacing: 0;
}

p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #FD9872;
  line-height: 2;
  font-weight: 500;
  letter-spacing: 0;
  margin-bottom: 20px;
}

/*CONTAINER*/
.container {
  margin: 0 auto;
  max-width: 58.75rem;
  padding-left: 20px;
  padding-right: 20px;
}

/* DESKTOP LARGE - 1400px*/
/* DESKTOP - 1200px*/
/* LAPTOP - 1024px*/
/* TABLET BIG - 900px*/
/* TABLET - 600px*/
/* MOBILE - 400px*/
/*
  ========================================
  BANNER
  ========================================
*/
.banner {
  height: 500px;
  padding: 55px 0 0 0;
  background: #75BC97;
  position: relative;
  overflow: hidden;
}
.banner .container {
  position: relative;
  z-index: 3;
}
.banner .container .seta {
  position: relative;
  left: -4px;
}
.banner h1 {
  margin-top: 45px;
  font-weight: 700;
  font-size: 4.375rem;
  line-height: 85px;
  color: #ffffff;
  margin-bottom: 22px;
}
.banner .desktop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .desktop .img1 {
  position: relative;
  width: 862px;
  height: 500px;
  z-index: 2;
  margin-right: -58px;
  animation: left_plant 1.5s linear;
}
@keyframes left_plant {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.banner .desktop .img2 {
  position: relative;
  width: 335px;
  margin-right: -50px;
  animation: hero 2s linear;
}
@keyframes hero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.banner .desktop .img3 {
  position: relative;
  width: 361px;
  animation: right_plant 2s linear;
}
@keyframes right_plant {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.banner .mobile {
  display: none;
}
.banner .mobile .img1 {
  position: absolute;
  bottom: 135px;
  left: 0;
  z-index: 2;
  animation: mobile_plant 1.5s linear;
}
@keyframes mobile_plant {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.banner .mobile .img2 {
  width: 276px;
  position: absolute;
  bottom: 20px;
  animation: mobile_hero 2s linear;
}
@keyframes mobile_hero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/***********
RESPONSIVE
***********/
/* DESKTOP EXTRA LARGE - 1500px*/
@media screen and (max-width: 93.75rem) {
  .banner .desktop {
    justify-content: flex-end;
  }
}
/* DESKTOP - 1200px*/
@media (max-width: 75rem) {
  .banner h2 {
    font-size: 3.4375rem;
    line-height: 60px;
  }
}
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .banner .img3 {
    margin-right: -100px;
  }
}
/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  .banner .img3 {
    margin-right: -190px;
  }
  .banner h2 {
    font-size: 2.625rem;
    line-height: 50px;
  }
}
/*750px*/
@media screen and (max-width: 45rem) {
  .banner {
    height: 593px;
    padding-top: 30px;
  }
  .banner .seta {
    height: 39px;
  }
  .banner .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .banner .logo {
    width: 165px;
  }
  .banner .desktop {
    display: none;
  }
  .banner .mobile {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .banner h1 {
    font-size: 2.5rem;
    line-height: 50px;
    margin-top: 30px;
  }
}
/*450*/
@media screen and (max-width: 40.625rem) {
  .banner .mobile .img1 {
    bottom: 165px;
  }
}
/* MOBILE - 400px*/
@media (max-width: 25rem) {
  .banner .mobile .img1 {
    bottom: 200px;
  }
}
/*350px*/
@media screen and (max-width: 21.875) {
  .banner .container .seta {
    left: 5px;
  }
  .banner .mobile .img1 {
    bottom: inherit;
    top: 0;
  }
}
/*
  ========================================
  CHOISES
  ========================================
*/
.choices {
  background: #ffffff;
  padding: 40px 0 50px 0;
}
.choices .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 20px;
}
.choices .container .item {
  width: 220px;
  animation: choices 1.5s linear;
}
@keyframes choices {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.choices .container .item .img {
  height: 75px;
  display: flex;
  align-items: flex-end;
}
.choices .container .item p {
  color: #848484;
  font-size: 0.875rem;
  line-height: 22px;
  margin-bottom: 22px;
  margin-top: 10px;
}
.choices .container .item:nth-child(1) img {
  width: 75px;
  height: 75px;
}
.choices .container .item:nth-child(2) img {
  width: 103px;
  height: 75px;
}
.choices .container .item:nth-child(3) img {
  width: 75px;
  height: 62px;
}

/***********
RESPONSIVE
***********/
/* 750px */
@media screen and (max-width: 46.875rem) {
  .choices {
    padding: 15px;
    padding-bottom: 35px;
  }
  .choices .container {
    gap: 45px 25px;
    justify-content: space-evenly;
  }
  .choices .container .item {
    width: 238px;
  }
  .choices .container .item p span {
    display: block;
  }
}
/*
  ========================================
  NO RESULTS
  ========================================
*/
#no_results {
  background: #F2F2F2;
  padding: 50px 0 65px 0;
}
#no_results .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#no_results .container .txt {
  width: 350px;
}
#no_results .container .txt * {
  color: #A9A9A9;
}
#no_results .container .txt h2 {
  font-size: 2.8125rem;
  font-weight: 700;
  margin: 18px 0 15px 0;
}
#no_results .container .txt p {
  font-size: 1rem;
  line-height: 27px;
}
#no_results .container .img {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***********
RESPONSIVE
***********/
/* TABLET - 600px*/
@media (max-width: 37.5rem) {
  #no_results {
    padding: 40px 10px;
  }
  #no_results .container {
    flex-wrap: wrap;
  }
  #no_results .container .txt, #no_results .container .img {
    width: 100%;
  }
  #no_results .container .txt h2 {
    margin-top: 0;
  }
}
/*
  ========================================
  CONTENT PLANTS / LIST PLANTS
  ========================================
*/
#loading {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  opacity: 0;
  transition: 0.3s all;
}
#loading .display {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #020000;
}
#loading .display .icone {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}
#loading .display .icone img {
  opacity: 0;
  transition: 1s all;
}

#loading.ativo {
  background: #f2f2f2;
  z-index: 6;
  height: 100vh;
  opacity: 1;
}
#loading.ativo .icone img {
  opacity: 1;
}

.out_results_efect {
  position: relative;
}

#content_plants {
  padding: 32px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  height: 400px;
  overflow: hidden;
  transition: 0.3s all;
}
#content_plants.ativo {
  height: auto;
  overflow: visible;
  opacity: 1;
  background: #f2f2f2;
  z-index: 4;
}
#content_plants .title img {
  display: block;
}
#content_plants .title h2 {
  font-size: 3.4375rem;
  font-weight: bold;
  color: #0C261C;
  margin: 15px 0 50px 0;
}
#content_plants #list_plants {
  display: grid;
  grid-template-columns: 437px 206px 206px;
  grid-gap: 25px;
}
#content_plants #list_plants .box {
  width: 206px;
  background: #ffffff;
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: self-end;
  flex-wrap: wrap;
  position: relative;
}
#content_plants #list_plants .box > img {
  height: 150px;
  object-fit: contain;
}
#content_plants #list_plants .box .txt {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#content_plants #list_plants .box .txt h3 {
  width: 100%;
  margin-bottom: 8px;
}
#content_plants #list_plants .box .txt h4, #content_plants #list_plants .box .txt h3 {
  font-weight: bold;
  font-size: 1rem;
  color: #257556;
}
#content_plants #list_plants .box .txt .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  gap: 0 8px;
}
#content_plants #list_plants .box .txt .favorited {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  background: url(../images/icons/favorited.png) no-repeat center center;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.5s;
}
#content_plants #list_plants .box .txt .favorited.--active {
  background: url(../images/icons/favorite_yes.png) no-repeat center center;
}
#content_plants #list_plants .box:nth-child(1) {
  grid-row: 1/3;
  width: 100%;
  padding: 25px;
}
#content_plants #list_plants .box:nth-child(1) img {
  height: auto;
}
#content_plants #list_plants .box:nth-child(1) .ico_cart {
  height: 40px;
  width: 40px;
}
#content_plants #list_plants .box:nth-child(1) .txt {
  grid-template-columns: 70% 30%;
  display: grid;
  align-items: center;
}
#content_plants #list_plants .box:nth-child(1) .txt .icons img {
  width: 27px;
}
#content_plants #list_plants .box:nth-child(1) .txt h3 {
  font-weight: bold;
  font-size: 35px;
  grid-row: 1/3;
  word-break: break-all;
}
#content_plants #list_plants .box:nth-child(1) .txt h4 {
  font-size: 24px;
  text-align: right;
}
#content_plants .back_top {
  width: 100%;
}
#content_plants .back_top a {
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 1rem;
  color: #196146;
  border: 1px solid #15573F;
  border-radius: 25px;
  margin-top: 55px;
  text-decoration: none;
  cursor: pointer;
}
#content_plants .back_top a span {
  display: flex;
  align-items: center;
  background: url(../../images/icons/arrow-up.svg) left center no-repeat;
  padding-left: 35px;
  height: 100%;
}

/***********
RESPONSIVE
***********/
/* 950PX */
@media screen and (max-width: 59.375rem) {
  #content_plants #list_plants {
    grid-template-columns: 40% auto auto;
  }
  #content_plants #list_plants .box {
    width: 100%;
  }
  #content_plants #list_plants .box:nth-child(1) {
    padding: 25px;
  }
}
/*800px*/
@media screen and (max-width: 50rem) {
  #content_plants .scroll_resp {
    width: 100%;
    overflow-x: scroll;
  }
  #content_plants .title {
    padding-left: 25px;
  }
  #content_plants .title h2 {
    font-size: 2.5rem;
    line-height: 49px;
    margin-bottom: 15px;
  }
  #content_plants #list_plants {
    display: flex;
    justify-content: space-between;
    grid-gap: 0 13px;
  }
  #content_plants #list_plants .box {
    min-width: 258px;
  }
  #content_plants #list_plants .box:nth-child(1) {
    min-width: 258px;
  }
  #content_plants #list_plants .box:nth-child(1) .txt {
    display: inherit;
  }
  #content_plants #list_plants .box:nth-child(1) .txt .icons img {
    width: auto;
  }
  #content_plants #list_plants .box:nth-child(1) .txt h4, #content_plants #list_plants .box:nth-child(1) .txt h3 {
    font-size: inherit;
  }
  #content_plants .back_top a {
    margin-top: 25px;
  }
}
/*
  ========================================
  ICON CART
  ========================================
*/
#cart {
  width: 50px;
  height: 50px;
  background: url("../images/icons/cart.png");
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 11;
  cursor: pointer;
}
#cart #list_plants_favorite {
  width: 280px;
  max-height: 480px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: absolute;
  right: -45px;
  bottom: 0;
  padding-bottom: 55px;
  opacity: 0;
  visibility: collapse;
  transition: all 0.3s;
  z-index: 10;
}
#cart #list_plants_favorite.--active {
  opacity: 1;
  visibility: visible;
}
#cart #list_plants_favorite a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #75bc97;
  padding: 5px 25px;
  border-radius: 10px;
  color: #fff;
  position: sticky;
  bottom: -55px;
  z-index: 99;
  transition: all 0.5s;
  font-size: 1.125rem;
  font-weight: 600;
}
#cart #list_plants_favorite a:hover {
  background: #196146;
}
#cart #list_plants_favorite .favorite {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6117647059);
  border-radius: 10px;
  padding: 15px 20px;
  position: relative;
  margin-bottom: 10px;
  transition: all 0.5s;
  z-index: 99;
}
#cart #list_plants_favorite .favorite > img {
  width: 100px;
  border-radius: 20px;
  margin: 0 auto;
  transition: all 0.5s;
}
#cart #list_plants_favorite .favorite > img:hover {
  transform: scale(1.2);
}
#cart #list_plants_favorite .favorite .txt {
  width: 100%;
  margin-top: 15px;
  grid-template-columns: 70% 30%;
  display: grid;
  align-items: center;
}
#cart #list_plants_favorite .favorite .txt h5 {
  width: 100%;
}
#cart #list_plants_favorite .favorite .txt h6 {
  text-align: end;
}
#cart #list_plants_favorite .favorite .txt h6, #cart #list_plants_favorite .favorite .txt h5 {
  font-weight: bold;
  font-size: 1.125rem;
  color: #257556;
}
#cart #list_plants_favorite .favorite .txt .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  gap: 0 8px;
  margin-top: 10px;
}
#cart #list_plants_favorite .favorite .txt .icons img {
  width: 27px;
}
#cart #list_plants_favorite .favorite .txt .favorited {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  background: url(../images/icons/favorited.png) no-repeat center center;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.5s;
}
#cart #list_plants_favorite .favorite .txt .favorited.--active {
  background: url(../images/icons/favorite_yes.png) no-repeat center center;
}
#cart #list_plants_favorite .favorite:hover {
  background-color: rgb(227, 244, 235);
  box-shadow: 0 0 20px rgb(237, 235, 235);
}

.inputs select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  padding: 0.6875rem 1rem;
  font-size: 0.875rem;
  border: 1px solid #A8A8A8;
  border-radius: 19px;
  outline: none;
  color: #A8A8A8;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease;
}

.inputs select:focus {
  border: 1px solid #75BC97;
}

.inputs select {
  background: #ffffff url("../../images/icons/down_select.png") right 15px center no-repeat;
  width: 100%;
  cursor: pointer;
}

.inputs .btn {
  width: 100%;
  display: flex;
  justify-content: end;
}

.inputs .btn input[type=submit] {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 20px 0 0 0;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
  background: #75BC97;
  color: #fff;
  display: inline-block;
  padding: 1.125rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
  min-width: 150px;
  border: 3px solid transparent;
}
.inputs .btn input[type=submit]:hover {
  border: 3px solid #75BC97;
  background: #FD9872;
  color: #ffffff;
}

/**/
.formulario.inputs ::-webkit-input-placeholder {
  color: #A8A8A8;
}

/**/ /**/

/*# sourceMappingURL=style.css.map */
